<!DOCTYPE html>
<html>
    {%include 'layout_head.html'%}

    <body>
        {%include 'layout_menu.html'%}
        <div class="ts-divider"></div>
        <div class="ts-content is-vertically-very-padded">
            <div class="ts-container is-narrow">

                <div class="ts-grid is-relaxed">
                    <div class="column is-6-wide">
                        <div class="ts-box">
                            <div class="ts-content is-secondary">
                                <div class="ts-row is-middle-aligned" style="line-height: 1">
                                    <div class="column is-fluid">搜尋區</div>
                                    <div class="column">
                                        <span class="ts-icon is-face-smile-icon"></span>
                                        <span class="ts-icon is-face-grin-squint-icon"></span>
                                        <span class="ts-icon is-face-angry-icon"></span>
                                        <span class="ts-icon is-face-kiss-beam-icon"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="ts-divider"></div>
                            <div class="ts-content">
                                <div class="ts-text is-label">昨日新聞搜搜</div>
                                <div class="ts-space"></div>
                                <div class="ts-input is-fluid">
                                    <input id="input_keywords" value="台灣" placeholder="輸入多個片段文字(and)"/>
                                </div>
                                <div class="ts-space"></div>
                                <div class="ts-text is-label">新聞類別</div>
                                <div class="ts-space"></div>
                                <div class="column">
                                  <div class="ts-select is-underlined is-fluid">
                                      <select id="cate_select" name="news_category">
                                          <option>全部</option>
                                          <option>AI 人工智慧</option>
                                          <option>尖端科技</option>
                                          <option>市場動態</option>
                                          <option>生物科技</option>
                                          <option>網路</option>
                                          <option>能源科技</option>
                                          <option>行動裝置</option>
                                          <option selected="selected" >零組件</option>
                                      </select>
                                  </div>
                                </div>
                                <div class="ts-space"></div>
                                <button class="ts-button is-fluid" id="btn_keyword_search">新聞檢索</button>
                            </div>
                        </div>
                    </div>
                    <div class="column is-10-wide">
                        <!-- 繪圖區塊 -->
                        <div class="ts-header is-heavy">昨日最新新聞瀏覽</div>
                        <div class="ts-divider is-section"></div>
                        <div class="ts-content">
                          <ul class="list-group" id="cate_news"></ul>
                        </div>
                        <!-- 區塊結束 -->
                        <!-- 繪圖區塊 -->
                        <div class="ts-header is-heavy">新聞內容</div>
                        <div class="ts-divider is-section"></div>
                        <div class="ts-content">
                          <!-- 顯示被點選的某一篇新聞詳細內容-->
                          <ul id="news_content">
                            點選新聞標題，新聞內容(部分內容)會顯示於此。
                          </ul>
                        </div>
                        <!-- 區塊結束 -->
                        <!-- 繪圖區塊 -->
                        <div class="ts-header is-heavy">猜你喜歡(推薦與該則新聞最相似的新聞)</div>
                        <div class="ts-divider is-section"></div>
                        <div class="ts-content">
                          <!-- 顯示被點選的某一篇新聞的相關3篇新聞推薦-->
                          <ul id="related_news">
                            你可能感興趣的新聞會顯示在此。
                          </ul>
                        </div>
                        <!-- 區塊結束 -->
                    </div>
                </div>
                <div class="ts-divider"></div>
                {%include 'layout_footer.html'%}
            </div>
        </div>
    </body>
</html>


<script>
  // default user keywords
  $("#input_keywords").val("台灣");

  // show news links info. when this page is loaded
  show_news_link(); // based on the selected category

  // on change event for category selection
  $("#cate_select").on("change", function () {
    show_news_link();
  });
  // on change event for category selection
  $("#btn_keyword_search").on("click", function () {
    show_news_link();
  });

  // function triggered when the news category is changed
  function show_news_link() {
    // remove previous "cate_news" by one of the following approaches:
    // Approach 1: use jQuery statement
    $("#cate_news").empty();
    // Approach 2: use html statement
    //var target_div = document.getElementById("cate_news");
    //target_div.innerHTML = '';
    //清空內容區clear_news_content();
    clear_news_content();

    // get category value and user input keywords
    const cate = $("#cate_select").val();
    const input_keywords = $("#input_keywords").val();

    // Ajax
    $.ajax({
      type: "POST",
      url: "/api/newsRcmdBert/api_query_keyword_cate_news",
      data: {
        category: cate,
        input_keywords: input_keywords,
      },
      success: function (received) {
        // get latest categorical news
        const items = received["latest_news"];

        //console.log(items);
        //查詢回傳新聞結果空的，直接return
        //在python中若是None,在js中用 == null檢查
        //在python中若是[],在js中用.length檢查長度
        if (items.length == 0) {
          console.log("No articles!");
          $("#cate_news").html("<h3>No articles!<h3>");
          //target_div.innerHTML = '<h4>No data!<h4>';
          return;
        }

        let html_div = document.createElement("div");
        //let html_div = document.getElementById("cate_news");

        // display all article list in "cate_news"
        for (let i = 0; i < items.length; i++) {
          // prepare html snippet for each news
          let html_snippet = `<li class="list-group-item">
                            <div class="row">
                                <div class="col-md-8">
                                    <h5><small><a class="read_it" news_id={0} href="#">{1}</a></small><h5>
                                </div>
                                <div class="col-md-4">
                                    <a href="{2}" target="_blank">
                                        <img class="img-fluid rounded mb-3 mb-md-0" src="{3}" width="120">
                                    </a>
                                </div>
                            </div>
                        </li>`;
          // insert news data to the html_snippet
          html_snippet = html_snippet.format(
            items[i].postID,
            items[i].title,
            items[i].link,
            items[i].image
          );
          // paste every html_snippet into html_div
          html_div.innerHTML += html_snippet;
        }

        // append the heml_div to display
        $("#cate_news").append(html_div);
        // or document.getElementById('cate_news').appendChild(html_div);

        //clear the paging area
        //$(".pagination-container-cate-news").empty();
        // process pagination
        //paginate_cate_news();
      }, //success function
    }); //ajax
  }

  // Remove the previous displayed news
  function clear_news_content() {
    $("#news_content").empty();
    $("#related_news").empty();
  }

  // Define the on click function for every news link
  // We must use a document event listener, because the read_it tags are dynamically generated.
  // 針對整個頁面的監聽事件，對於動態產生的element也能監聽到
  $(document).on("click", "a.read_it", function () {
    //console.log('read this!'); //test if the event is triggered

    // get news_id.
    // "this" refer to the read_it html element as the following:
    // <li><a class='read_it' news_id="cna_xxx"  href='#'>...</a></li>
    // a.read_it指的是<a class="read_it" news_id={0} href="#">{1}</a>
    // a tag內部有一個"read_it" class 這樣表達==> a.read_it
    const postID = $(this).attr("news_id");
    //console.log(newsid); //news_id

    // change the color of "this" html
    $(this).css("background", "#d9f531");

    // show the selected article content and topk similar article information
    show_selected_article_content_and_recommendation(postID);
  });

  // We could not define read_it event in advance. because read_it tag is dynamically generated when this page is loaded.
  //以下這種寫法沒作用，由於read_it是動態產生的，這個事件無法被觸發!!
  $(".read_it").click(function () {
    //alert("this event will not be triggered!");
  });

  // Show the selected news content when the read_it event is triggered
  function show_selected_article_content_and_recommendation(postID) {
    
    //先清除顯示區
    clear_news_content();

    $.ajax({
      type: "POST",
      url: "/api/newsRcmdBert/api_news_content",
      data: {
        postID: postID, // query by news_id
      },
      success: function (received) {
        const item = received["news_content"]; // get news content
        // const item = received.news_content; // the same

        // the html element to display the new content
        const display = $("#news_content");
        //const display = document.getElementById("news_content"); // alternative way

        // insert new line at the end of paragraph將新聞內容的句號等換成<br>break line換行符號
        // g: global處理所有句號等
        // m: multi lines處理文章內的很多行, see https://regex101.com/r/x2KaZP/1
        html_content = item.content.replace(/(\r\n|\n|\r|。)/gm, "。<br><br>");

        // display new content設定只顯示前12行內容
        display.append("<li>類別:" + item.category + "</li>");
        display.append(
          "<p>標題:" + item.title + "(" + item.date + ")" + "</p>"
        );
        display.append(
          "<p class = 'only-some-lines-text'>" + html_content + "</p>"
        );
        display.append("<a  href=" + item.link + " target='_blank'>連結</a>");

        // display similar (related) news based on the selected news
        var items = received["related_news"];
        var display_rel = document.getElementById("related_news");
        for (var i = 0; i < items.length; i++) {
          display_rel.innerHTML += "<li>" + items[i].category + "</li>";
          display_rel.innerHTML += "<p>" + items[i].title + "</p>";
          display_rel.innerHTML += "<p>相似度:" + items[i].score + "</p>";
          display_rel.innerHTML +=
            "<a  href=" + items[i].link + " target='_blank'>連結</a>";
        }
      },
    }); //ajax
  } //showArticle function

  //Customize the String.format()
  //reference: https://www.cnblogs.com/taoweiji/p/3260883.html

  //"{0}----{1}".format("xx","yy")
  String.prototype.format = function () {
    var result = this;
    if (arguments.length == 0) return null;
    for (var i = 0; i < arguments.length; i++) {
      var re = new RegExp("\\{" + i + "\\}", "gm");
      result = result.replace(re, arguments[i]);
    }
    return result;
  };
</script>
